# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

ecosystem.config.js

# Proyectos de referencia (Claudable/dyad/open-lovable). Pesados y >100MB:
# no se suben a GitHub.
lovablez/
