@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 105 55% 96%;
    --foreground: 215 50% 23%;
    --card: 0 0% 100%;
    --card-foreground: 215 50% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 50% 23%;
    --primary: 129 37% 36%;
    --primary-foreground: 215 50% 23%;
    --secondary: 27 87% 67%;
    --secondary-foreground: 215 50% 23%;
    --muted: 0 0% 100%;
    --muted-foreground: 215 50% 23%;
    --accent: 12 76% 61%;
    --accent-foreground: 215 50% 23%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 129 37% 36%;
    --radius: 0.5rem;
  }
}

html, body, #root { min-height: 100vh; margin: 0; }
body { background-color: hsl(var(--background)); color: hsl(var(--foreground)); }
